@import "variables.css";

html, body {
	position: relative;
	height: 100%;
}

body {
	background-image: url("background.png");
	background-size: cover;
	box-sizing: border-box;
	color: var(--light);
	display: flex;
	flex-direction: column;
	font-family: var(--font);
	font-size: 22px;
	margin: 0;
	text-align: center;
}

main {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button {
	background-color: var(--grey);
	border: 4px solid var(--light);
	color: var(--light);
	cursor: pointer;
	flex-basis: 100%;
	font-size: 1.5rem;
	font-family: var(--font);
	padding: 1.8rem;
	text-align: center;
	text-transform: uppercase;
}

button.error {
	background-color: var(--error);
}

button.success {
	background-color: var(--success);
}

.loader {
	animation: opacity 2s ease-in-out infinite;
	margin: 0;
	opacity: 1;
}

p.error {
	color: red;
}
