@import "variables.css";

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	height: 100%;
}

body {
	background-image: url("background.png");
	background-size: cover;
	color: var(--light);
	display: flex;
	flex-direction: column;
	font-family: var(--font);
	font-size: 22px;
	margin: 0;
	position: relative;
	text-align: center;
}

main {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

button {
	background-color: var(--grey);
	border: 4px solid var(--light);
	color: var(--light);
	cursor: pointer;
	flex-basis: 100%;
	font-size: 1.5rem;
	font-family: var(--font);
	padding: 1.8rem;
	text-align: center;
	text-transform: uppercase;
}

button:hover {
	background-color: var(--dark);
}

button.error {
	background-color: var(--error);
}

button.error:hover {
	background-color: var(--error-hover);
}

button.success {
	background-color: var(--success);
}

button.success:hover {
	background-color: var(--success-hover);
}

.loader {
	animation: opacity 2s ease-in-out infinite;
	margin: 0;
	opacity: 1;
	transform: translateY(-20%);
}

p.error {
	color: red;
}

.layer {
	background-color: transparent;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
