:root {
  --dark: #000;
  --error: #400000;
  --error-hover: #bf0000;
  --grey: #333;
  --light: #fff;
  --light-grey: #999;
  --success: #004000;
  --success-hover: #00bf00;

  --font: 'Press Start 2P', Roboto, sans-serif;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}
